<a href="https://colab.research.google.com/github/67015062/Python_Lab3/blob/main/Lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 3

3.1 จากข้อมูลใน List ให้หาผลบวกเฉพาะตัวเลขคู่ โดยใช้ While Loop

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13]

In [35]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13]
i = 0
sum = 0
while i < len(list1) :
  if list1[i] % 2 == 0 :
    sum += list1[i]
  i += 1
print(sum)

20

3.2 จากข้อมูลใน List ให้หาตัวเลขที่มีค่ามากที่สุดเป็นอันดับ 2 ใน List โดยใช้ While Loop

list = [-5, 7, 10, 1, 2, 5, 8, 100]

In [33]:
listnum = [-5, 7, 10, 1, 2, 5, 8, 100]
first_max = 0
second_max = 0
i = 0
while i < len(listnum) :
  if  listnum[i] > first_max :
    second_max = first_max
    first_max = listnum[i]
  elif listnum[i] > second_max:
    second_max = listnum[i]
  i += 1
print(second_max)

10

3.3 เขียนโปรแกรมรับค่า n แล้วคำนวณค่าต่อไปนี้

$1/1^2 + 1/2^2 + 1/3^2 + 1/4^2 + 1/5^2 + … +  1/n^2$

In [32]:
num = int(input('Input : '))
i = 1
sum = 0
while i <= num :
  sum = 1 / (i ** 2)
  i += 1
print(sum)

Input : 5
0.04

3.4 จากข้อมูลใน List ให้ตรวจสอบว่า ข้อมูลในลิสต์ s เรียงลำดับจากน้อยไปมากหรือไม่ ตอบเป็น True, False

	[1,2,3,4,5], [5,4,3,2,1]

In [31]:
s1 = [1,2,3,4,5]
s2 = [5,4,3,2,1]
n = len(s1)
m = len(s2)
status1 = ''
status2 = ''
for i in range(n):
  for o in range (i+1,n) :
    if s1[i] < s1[i+1] :
      status1 = 'True'
    else :
      status1 = 'False'
for y in range(m):
  for p in range (y+1,m):
    if s2[y] < s2[y+1] :
      status2 = 'True'
    else :
      status2 = 'False'
print(status1)
print(status2)

True
False

3.5  ให้ x เป็นลิสต์เก็บคะแนน ต้องการปรับช่องที่มีค่าน้อยกว่า 30 ให้มีค่าเพิ่มอีก 10% แสดงผลลัพธ์ เป็น List

	x = [60, 70, 72, 65, 55, 43, 20, 90, 12]

In [12]:
x = [60, 70, 72, 65, 55, 43, 20, 90, 12]
for i in range(len(x)) :
  if x[i] < 30 :
    x[i] += x[i]*0.10
print(x)

[60, 70, 72, 65, 55, 43, 22.0, 90, 13.2]

3.6 ต้องการหาผลรวมของคะแนนที่เก็บในลิสต์ x โดยขอไม่รวมคะแนนที่น้อยสุดอันดับ 2

	x = [15, 80, 75, 62, 55, 43, 99, 67, 10]

In [29]:
x = [15, 80, 75, 62, 55, 43, 99, 67, 10]
sorted_x = sorted(x)
sum = 0
for i in range(2,len(x)) :
  sum += sorted_x[i]
print(sum)

481

3.7 จากข้อมูลใน List ให้แสดง string ที่มีความยาวมากกว่า 2 และมีอักษรตัวแรกกับตัวสุดท้ายเหมือนกัน แสดงบรรทัดละ 1 ตัว

	lst = ['abba', 'a', 'aa', 'alcaza', 'python', 'stores', 'program', 'execute']

In [28]:
lst = ['abba', 'a', 'aa', 'alcaza', 'python', 'stores', 'program', 'execute']
for i in lst :
  if len(i) > 2 and i[0] == i[-1] :
    print(i)

abba
alcaza
stores
execute

3.8 จากข้อมูลใน List ให้ลบข้อมูลที่มีซ้ำกันให้เหลือเพียงตัวเดียว ให้แสดงผลเป็น list เช่น

[‘a’,’a’] => [‘a’]

lst = ['a', 'a', 'b', 'a', 'b', 'c', 'd']

In [27]:
lst = ['a', 'a', 'b', 'a', 'b', 'c', 'd']
new_lst = []
for i in lst :
  if i not in new_lst :
    new_lst.append(i)
print(new_lst)

['a', 'b', 'c', 'd']

3.9 จากข้อมูลใน List ให้แสดงว่าแต่ละข้อมูลใน List มีจำนวนเท่าไร คือ มีซ้ำกันกี่ตัวใน List  ให้แสดงบรรทัดละตัว เช่น

	[1, 2, 3, 4, 1, 2, 3, 1, 2, 1]
	1 = 4
	2 = 3
	3 = 2
	4 = 1
  
	lst = [1,2,3,4,5,1,2,3,4,1,2,3,1,2,1]

In [26]:
lst = [1,2,3,4,5,1,2,3,4,1,2,3,1,2,1]
printed = []
for i in lst :
  count = 0
  if i not in printed:
   for o in lst :
    if i == o :
      count += 1
   print(i,'=',count)
   printed.append(i)

1 = 5
2 = 4
3 = 3
4 = 2
5 = 1

1.	เขียนโปรแกรมเพื่อหาผลบวกของอนุกรม 5+10+15+20+… จนถึง n เมื่อ n เป็นตัวเลขที่รับเข้ามาทางคีย์บอร์ด

In [25]:
num = int(input('Input : '))
sum = 0
i = 1
while i <= num :
    sum += num * i
    i += 1
print(sum)

Input : 5
75

2.	จงเขียนโปรแกรมที่จะหาตัวเลขระหว่าง 2000-3200 ที่หารด้วย 7 ลงตัว แต่หารด้วย 5 ไม่ลงตัว
การแสดงผลให้แสดงตัวเลขและคั่นด้วยเครื่องหมาย , ในบรรทัดเดียว

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [24]:
for i in range(2000,3201) :
  if i % 7 == 0 and i % 5 != 0 :
    print(i,end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

3.	จากข้อมูลใน List ต้องการนับว่า มีข้อมูลกี่คู่ในลิสต์ที่ตัวทางซ้ายมีค่ามากกว่าตัวทางขวา (ไม่จำเป็นต้องอยู่ติดกัน)

x = [1, 5, 4, 2, 1]

In [23]:
x = [1, 5, 4, 2, 1]
n = len(x)
round = 0
for i in range(n)  :
  for o in range(i+1,n) :
     if x[i] > x[o] :
      round += 1
print(round)

6

4.	ให้ตรวจสอบว่า String ที่รับเข้ามาผ่านคีย์บอร์ด เป็นตัวอักษรพิมพ์เล็ก หรือตัวอักษรพิมพ์ใหญ่ อย่างละกี่ตัว ตอบ 2 บรรทัด พิมพ์เล็ก 1 บรรทัด พิมพ์ใหญ่ 1 บรรทัด

klfjslkgD;FGK;LSDKdl;gfk;
=> 13,8

In [22]:
 stl = input('')
 upper = 0
 lower = 0
 for i in stl :
  if i.isupper() :
    upper += 1
  elif i.islower() :
    lower += 1
print(upper)
print(lower)

klfjslkgD;FGK;LSDKdl;gfk;
8
13

5.	จงเขียนโปรแกรมที่หาตัวเลขระหว่าง 1000 และ 3000 ที่ทุกหลักเป็นเลขคู่ (รวม 1000 และ 3000) โดยแสดงผลในรูปแบบตัวเลขคั่นด้วย comma

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888,

In [10]:
for num in range(1000,3001):
  count_str = str(num)
  if int(count_str[0])%2==0 and int(count_str[1])%2==0 and int(count_str[2])%2==0 and int(count_str[3])%2==0 :
    print(num,end=',')

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888,

6.	ในคณิตศาสตร์ ตัวหารร่วมมาก หรือ ห.ร.ม. (greatest common divisor: gcd) ของจำนวนเต็มสองจำนวนซึ่งไม่เป็นศูนย์พร้อมกัน คือจำนวนเต็มที่มากที่สุดที่หารทั้งสองจำนวนลงตัว
จงหา ห.ร.ม. ของจำนวนเต็ม 2 จำนวนที่กำหนดให้
ข้อมูลนำเข้า
บรรทัดแรกเพียงบรรทัดเดียว ประกอบไปด้วยจำนวนเต็มบวกสองจำนวน a และ b มีค่าไม่เกิน 9999
ข้อมูลส่งออก
ในบรรทัดแรกของข้อมูลส่งออก ให้แสดงค่า ห.ร.ม. ของ a และ b
เช่น 	Input : 12 14		Output : 2
	Input : 7 3		Output : 1

678
345
=> 3

In [21]:
in_a = int(input('Input a : '))
in_b = int(input('Input b : '))
gcd = 1
max_i = in_a
while max_i > in_b :
  max_i = in_b
for i in range(1,max_i + 1) :
  if in_a % i == 0 and in_b % i == 0 :
      gcd = i
print(gcd)

Input a : 678
Input b : 345
3

7.	จงเขียนโปรแกรมที่คำนวณค่าของ a+aa+aaa+aaaa เมื่อรับข้อมูลเป็นตัวเลข 1 หลัก

Input : 9

Output : 11106 (=9+99+999+9999)

In [20]:
num = int(input('Input number : '))
if num >=0 and num <= 9 :
  num1 = num * 11
  num2 = num * 111
  num3 = num * 1111
  sum = num+num1+num2+num3
  print(sum)
else :
  print('error')

Input number : 9
11106

8.	แปลงเลขโรมัน เป็นเลขอารบิก เช่น MMMDCCXXIV = 3724 (ค้นหาวิธีทางทางอินเตอร์เน็ต)

In [19]:
roman = ['I','V','X','L','C','D','M']
roman_value_int = [1,5,10,50,100,500,1000]
x_roman = 'MMMDCCXXIV'
CurrentValue = 0
NextValue = 0
sum = 0
for i in range(len(x_roman)) :
  for j in range(len(roman)) :
    if x_roman[i] == roman[j] :
      CurrentValue = roman_value_int[j]
    if i <= len(x_roman)-2 :
        if x_roman[i+1] == roman[j] :
          NextValue = roman_value_int[j]
  if CurrentValue >= NextValue :
    sum += CurrentValue
  else :
    sum -= CurrentValue
print(sum)

3724

9.	อนุกรม Fibonacci คือ อนุกรมที่ตัวที่ 3 เป็นต้นไปเกิดจาก 2 ตัวหน้าบวกกัน จงเขียนโปรแกรมแสดงอนุกรม
เช่น ตั้งแต่ 0-1000 คือ 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987

In [18]:
a,b = 0,1
while a <= 1000 :
  print(a,end=',')
  a,b = b,a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

10.	ให้สร้างโปรแกรม True Love โดยรับชื่อภาษาอังกฤษของ 2 คน จากนั้นค้นหาว่ามีตัวอักษรอยู่ในคำว่า True และ Love รวมกันกี่ตัว จากนั้นนำมาต่อกันเป็น % ตามรูป (ไม่ต้องแสดงเครื่องหมาย %)

In [17]:
list_t = ['t','r','u','e','l','o','v','e']
name_1 = input('Enter name 1 :')
name_2 = input('Enter name 2 :')
name = name_1 + name_2
name = name.lower().replace(' ','')
T,R,U,E,L,O,V = 0,0,0,0,0,0,0
sum_ture = 0
sum_love = 0
for i in range(len(name)) :
    if name[i] == list_t[0] :
      T += 1
    elif name[i] == list_t[1] :
      R += 1
    elif name[i] == list_t[2] :
      U += 1
    elif name[i] == list_t[3] and name[i] == list_t[7] :
      E += 1
    elif name[i] == list_t[4] :
      L += 1
    elif name[i] == list_t[5] :
      O += 1
    elif name[i] == list_t[6] :
      V += 1
sum_ture = T+R+U+E
sum_love = L+O+V+E
sum_ture = str(sum_ture)
sum_love = str(sum_love)
result = sum_ture+sum_love
print(' T ',T,' L ',L)
print(' R ',R,' O ',O)
print(' U ',U,' V ',V)
print(' E ',E,' E ',E)
print('_____________')
print('   ',result)

Enter name 1 :Aubrey Drake Granham
Enter name 2 :Krystie Lee Yandoli
 T  1  L  2
 R  4  O  1
 U  1  V  0
 E  5  E  5
_____________
    118